.page.theme_dark {
    --page__title-color: #DB00FF;
    --page__text_shadow-color: #FF0070;
    --page__accent-color: #FF0070;
    --page__background-color: #000028;
    --page__text-color: #F1B2CE;
    --page__subtitle-color: #FF0070;
    --text__title-color: #000028;
    --page__button_hover-color: #FF007066;
    --page__header_background_image: url("../images/cover-image-dark.png");
}

.theme_dark .header__decoration_element {
    display: flex;
    justify-self: end;
    position: absolute;
    right: 48px;
    block-size: fit-content;
    line-height: 29px;
    text-transform: uppercase;
}

.theme_dark .header__decoration_element::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 41px;
    inline-size: 9px;
    block-size: 9px;
    border-radius: 50%;
    background-color: var(--page__subtitle-color, #FF0070);
    box-shadow: 0 0 4px 2px var(--page__subtitle-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --page__header_background_image: url("../images/cover-image-dark.png");
    }

    .header__decoration_element {
        display: flex;
        justify-self: end;
        position: absolute;
        right: 48px;
        block-size: fit-content;
        line-height: 29px;
        text-transform: uppercase;
    }

    .header__decoration_element::after {
        content: '';
        position: absolute;
        top: 10px;
        left: 41px;
        inline-size: 9px;
        block-size: 9px;
        border-radius: 50%;
        background-color: var(--page__subtitle-color, #FF0070);
        box-shadow: 0 0 4px 2px var(--page__subtitle-color);
    }
}

@media (width < 768px) {
    .theme_dark .header__decoration_element {
        right: 38px;
        top: 8px;
    }
}