.page.theme_dark {
    --page__title-color: #DB00FF;
    --page__text_shadow-color: #FF0070;
    --page__accent-color: #FF0070;
    --page__background-color: #000028;
    --page__text-color: #F1B2CE;
    --page__subtitle-color: #FF0070;
    --text__title-color: #000028;
    --page__button_hover-color: #FF007066;
    --page__header_background_image: url("../images/cover-image-dark.png");
}
